<% param_prefix = "payment_source[#{payment_method.id}]" %>

<p>
  <%= t(:please_make_your_payment_by_using_bank_transfer_to_one_of_the_following_banks, contact_url: link_to('Kontaktformular', '/contact-us')).html_safe %>
</p>
<p>
  <%= t(:please_continue_to_the_payment_confirmation_page_once_you_ve_made_your_payment) %>
</p>
